@import "ActionList.css";
@import "Arrow.css";
@import "Button.css";
@import "DropDown.css";
@import "Filter.css";
@import "Footer.css";
@import "Header.css";
@import "ListView.css";
@import "Menu.css";
@import "MenuLink.css";
@import "Panel.css";
@import "SplashScreen.css";
@import "Table.css";
@import "ToolTip.css";
@import "WebCommandList.css";
@import "Window.css";

body
{
	font-family: "Segoe UI";
	font-size: 9pt;
	margin: 0px;
}
h1
{
	font-weight: lighter;
}
::selection
{
	background: #00C5C1;
}
::-moz-selection
{
	background: #00C5C1;
}

input, table
{
	font-family: inherit;
	font-size: inherit;
}